.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

  .miami-font {
    font-family: 'Miama', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}

/* Shared Styles  */
.body {
    max-width: 1536px; /* 1536 is my laptop width. */
    background-color: #111111;
    color: #ffffff;
    margin: 0 auto;
    padding: 0;
}

main {
    margin-bottom: 100px;
}


.btn-primary {
    background-color: #111111;
    border: 1px solid white;
    padding: 16px 40px;
    font-size: 1.15rem;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #E6533C;
    border: none;
}

.hide {
    display: none;
}

.semi-red-01 {
    color: #E6533C;
}

.semi-black-01 {
    color: rgba(255, 255, 255, 0.5);
}

.bg-semi-red-01 {
    background-color: #E6533C;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.9rem;
}

a {
    font-size: 1.1rem;
}


.flex-display {
    display: flex;
}

.text-center {
    text-align: center;
}

/* Nav and Banner Related Styles */
.header, 
main > .habit, 
main > .run, 
main > .training, 
main > .team,
main > .footer-sec > .footer {
    max-width: 70%;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
}

.nav-icon {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
}

.nav-links {
    /* display: flex;
    width: 100%; */
}

.nav-links-ul {
    display: flex;
    gap: 47px;
    border: 1px solid rgb(74, 74, 74);
    padding: 4px;
    border-radius: 50px;
}

.nav-links-ul li {
    list-style: none;
    padding: 10px 2px;
}

.nav-links-ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
}


.nav-links-ul li a:hover {
    background-color:  #E6533C;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-info-title {
    font-size: 4.9rem;
    line-height: 99px;
    /* letter-spacing:0cqw; */
    
}

.banner-info-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 24px;
}

.shape-h1 {
    font-weight: 400;
    font-style: italic;
    line-height: 25px;
}

.btn-container {
    display: flex;
    gap: 14px;
    align-items: center;
}

.download-app-btn {
    background-color: #111111;
    border: 1px solid white;
}

.banner-img {
    position: relative;
}


.milestone-videos-01 {
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: rgb(255 255 255 / 10%);
    width: 193px;
    height: 98px;
    border-radius: 10px;
}


.milestone-videos-02 {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgba(107, 101, 101, 0.7);
  width: 206px;
  height: 96px;
  border-radius: 10px;
}

.video-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.centre-content-milestone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}


.free-workout-info {
    position: absolute;
    top: 125px;
    left: 200px;
    font-weight: 800;
    font-size: 0.9rem;
}

.video-container {
    display: flex;
    position: absolute;
    bottom: 80px;
    left: -55px;
    font-weight: 800;
    font-size: 0.9rem;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.free-workout-videos {
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
}

.free-workout-info, .video-container {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(226, 211, 211);
}

.video-tutorial {
    font-weight: 800;
    font-size: 1.8rem;
    color: white;
}


/* Habit related Styles  */

.habit-title-description {
    text-align: center;
    margin-bottom: 58px;
    line-height: 35px;
}

.habit-items {
    display: flex;
    gap: 40px;
}


.habit-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.habit-item-name {
    margin-top: 30px;
}

.habit-item img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
}


/* Run Related Styles  */

.run-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 42, 42, 0.5);
    padding: 20px;
    border-radius: 25px;
}

.run-content img {
    width: 366px;
    height: 312px;
}

.run-extra {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    max-width: 443px;
}

.run-extra img {
    max-width: 366px;
}

.run-extra button {
    
}

.run-extra-title {
    font-size: 3rem;
}

.run-img img {
    border-radius: 20px;
}


/* Training Related Styles  */

.training-content-header {
    max-width: 671px;
}

.training-content-title, .training-content-details {
    margin-bottom: 20px;
}

.training-image-one {
    position: relative;
    display: grid;
    grid-template-columns: 333px auto 280px;
}

.overlay {
    position: absolute; 
    transition: 0.5s ease; 
    height: 100%; 
    width: 100%; 
    top: 0; 
    background-color: lightblue; 
    opacity: 0;
}

.training-image-one:hover .overlay { 
    opacity: 0.3; 
    border: 5px solid rgb(27, 188, 67);
} 


.training-image-two {
    position: relative;
    display: grid;
    grid-template-columns: 433px 233px auto;
}

.training-images-container img {
    width: 100%;
    height: 201.5px;
}

.training-image-two:hover .overlay { 
    opacity: 0.3; 
}


/* BMI Related Styles  */

table, th, td {
    border: 1px solid rgb(60, 58, 58);
}

.bmi-cal {
    margin-top: 5rem;
}

.bmi-cal-title {
    font-size: 3rem;
    margin-bottom: 14px;
}

.bmi-cal-header {
    max-width: 671px;
    margin: 0 auto;
}

.bmi-cal-description {
    margin-bottom: 88px;
    font-size: 1rem;
}

.bmi-cal-content {
    background-color: rgb(88, 87, 87);
    padding: 100px 0;
    display: flex;
    gap: 175px;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}


.bmi-chart-title {
    margin-bottom: 52px;
}

.bmi-chart-table {
    width: 310px;
    height: 216px;
    border-collapse: collapse;
}

.bmi-chart-table tr th, .bmi-chart-table tr td {
    padding: 10px;
    text-align: left;
}

.bmi-chart-table td {
    color: rgb(190, 185, 185);
}

.bmi-calculator {
    max-width: 577px;
}

.bmi-calculator input, .bmi-calculator input[placeholder], .bmi-calculator select {
    padding: 10px 2px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(56, 53, 53);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

.input-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-form select {
    border-right: 15px solid transparent
}

#activity {
    grid-column: span 2;
    margin-bottom: 34px;
}

.bmi-calculator-description {
    margin-bottom: 34px;
    margin-top: 14px;
}


/* Team Related Styles  */

.team-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    background-color: rgb(56, 54, 54);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 88px;
}

.team-title-details {
    text-align: center;
    margin-bottom: 58px;
}

.team-title {
    font-size: 3rem;
}

.team-trainer {
    position: relative;
}

.team-trainer img {
    border-radius: 15px;
    width: 100%;
    height: 272px;
}

.team-trainer-details {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.team-trainer-details {
    border-radius: 25px;
}

.team-trainer-details > h2 {
    font-size: 1.4rem;
}

.team-trainer-details > h5 {
    font-size: 0.97rem;
    color: rgba(255, 255, 255, 0.5);
}


/* Footer Related Styles  */
 
#footer-bg {
    background-color: rgb(76, 81, 76); /* Background color for the footer */
    width: 100%; /* Full width footer */
    /* max-width: 1200px; Max width for footer */
    margin: 0 auto; /* Center footer horizontally */
    padding: 20px; /* Padding for footer */
    box-sizing: border-box; /* Include padding in the width and height calculations */
    margin-bottom: -100px;
}

.footer {
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
}

.footer-fitness {
    max-width: 443px;
}

.footer-fitness h1 {
    font-size: 4.5rem;
}

.footer-fitness p {
    text-align: left;
    font-size: 1rem;
}

.footer-getstarted {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.footer-getstarted h1 {
    font-size: 2rem;
    margin-bottom: 35px;
}

.footer-link ul {

}

.footer-link ul li {
    list-style: none;
    line-height: 35px;
}

.footer-link ul li a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 1.3rem;
}

.footer-link ul li a:hover {
    color: blue;
}

footer .hr {
    border: 1px solid rgb(126, 119, 119);
    margin-top: 79px;
    
}

footer p {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-sec {
    margin-bottom: -500px;
}

@media screen and (max-width: 576px) {

 
/* Shared Styles Responsive */


    .header, 
    main > .habit, 
    main > .run, 
    main > .training, 
    main > .team,
    main > .footer-sec > .footer  { 
    max-width: 90%;
    padding-top: 0px;
    margin-top: 52px;
}

.btn-primary {
    padding: 12px 22px;
}

/* Nav and Banner Responsive  */

    .nav-links-ul {
        display: none;
    }

    .nav-icon {
        display: inline;
    }
    
    .banner {
        margin-top: 25px;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-info-title {
        font-size: 2.3rem;
        line-height: 55px;
        max-width: 285px;
    }

    .btn-primary {
        padding: 16px 35px;
        font-size: 0.9rem;
        border-radius: 40px;
        color: white;
        cursor: pointer;
    }

    .btn-container {
        /* margin-bottom: 46px; */
    }

    .milestone-videos-01 {
        width: 170px;
        height: 90px;
    }

    .milestone-videos-02 {
        width: 190px;
        height: 88px;
      }

      .free-workout-info {
        top: 125px;
        left: 200px;
    }
    
    .video-container {
        bottom: 80px;
        left: -25px;
    }
    





    /* Habit Responsive  */

    .habit-items {
        flex-direction: column;
    }

    .habit-title-description {
        line-height: 24px;
    }
    .habit-title {
        margin-bottom: 10px;
    }

    /* Run Responsive  */

    .run-content {
        flex-direction: column;
    }
    
    .run-content img {
        max-width: 306px;
        max-height: 186px;
    }

    .join-club-btn {
        max-width: 287px;
        /* margin: 0 auto; */
    }

    .run-extra {
        /* max-width: 287px; */
        margin-bottom: 31px;
    }

    /* Training Responsive  */

    .training-image-one {
        grid-template-columns: 200px auto;
    }
    
    .training-image-two {
        grid-template-columns: 190px auto;
    }

    .none-responsive-mobile {
        display: none;
    }


    /* BMI Calculator section Responsive  */

    .bmi-cal-header {
        max-width: 353px;
        margin: 0 10px;
    }

    .bmi-cal-content {
        flex-direction: column;
        padding: 34px 0;
        gap: 25px;
    }

    .bmi-chart, .bmi-calculator {
        margin-left: 10px;
    }

    .bmi-chart-title {
        font-size: 1rem;
        margin-bottom: 23px;
    }

    .bmi-calculator {
        max-width: 314px;
    }

    .input-form {
        max-width: 313px;
    }

    .bmi-calculator-title {
        font-size: 1rem;
    }
    

    .input-form input, .input-form select {
        max-width: 150.5px;
    }

    #activity {
        max-width: 313px;
    }

    .bmi-calculator input, .bmi-calculator input[placeholder], .bmi-calculator select {
        padding: 10px 0px;
        border: none;
    }
    
    .bmi-cal-title {
        font-size: 2rem;
        margin-bottom: 14px;
    }
    
    .bmi-cal-description {
        margin-bottom: 32px;
    }

    .bmi-cal {
        margin-top: 2rem;
    }
    

    /* Team Responsive  */


    .team-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px; 
        margin-bottom: 88px;
    }

    .team-title {
        font-size: 2rem;
        margin-bottom: 14px;
    }

    /* Footer Responsive  */

    .footer {
        flex-direction: column;
    }

    .footer-getstarted {
        flex-direction: column;
    }

    #footer-bg {
        padding-bottom: 44px;
    }
    .footer-fitness {
    }

    main > .footer-sec > .footer {
        display: block;
    }

    .footer-getstarted {
        gap: 20px;
    }

    .footer-getstarted h1 {
        margin-bottom: 25px;
    }


}